.list {
  margin: 0;
  padding: 10px 50px;
  list-style: none;
  box-shadow: 0px 0px 18px 0px rgba(34, 60, 80, 0.2);
  border-radius: 20px;
  margin-bottom: 100px;
}

.container {
  max-width: 1000px;
}
